.container {
    background-color: #ffcccc;
}
.row{
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    border-bottom: 3px solid #ff3366;
}
.makes{
    width: 500px;
    margin: auto

}
.base{
    width: 500px;
    margin: auto
}
.pele{
    width: 500px;
    margin: auto
}
.logo{
    max-width: 100%;
}
#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
#menu ul li { display: inline;
}
#menu ul li a {
    padding: 2px 80px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #ff9999;
}
.compras{
    margin-left: 70px;
}
.treinamento{
    margin-right: 100px;
}
#menuinfdir{
    font-size: 16px;
    margin-top: 0;
    font-family: Georgia, "Times New Roman";
}
.contato{
    font-size: 18px;
    font-family: Georgia, "Times New Roman";
    float: left;
}
.atend{
    font-size: 18px;
    text-decoration-color: #666666;
    font-family: Georgia, "Times New Roman";
    
}
#menuinfdir ul{
    list-style: none
}

#menuinfdir h5{
    margin-left: 40px;
}

.rodape .col-sm-4{
    text-align: center
}
.style1 {
    color: #FF0000;
    font-size: x-small;
}
.style3 {
    color: #0000FF;
    font-size: x-small;
}
            